.overlay-content {
  position: fixed;
  top: 0;
  height: 20px;
  left: 0;
  font-family: "fugue_mono", sans-serif;
  font-size: 11pt;
  padding: 5px 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.overlay-content-element {
  flex: 1;
}

/* Custom style for each one of the 4 page borders */

.overlay-top {
  width: calc(100vw - 70px);
}
.overlay-left {
  width: calc(100vh - 70px);
  transform: rotate(-90deg) translateX(0px) translateY(-100vh);
  transform-origin: top right 0;
}
.overlay-right {
  width: calc(100vh - 70px);
  transform: rotate(90deg) translateX(0px) translateY(-100vw);
  transform-origin: top left 0;
}
.overlay-bottom {
  width: calc(100vw - 70px);
  transform: translateY(calc(100vh - 30px));
}

/* Text inside the 4 page borders */
.overlay-content span {
  padding: 0 5px;
}

/* Button styles */
.button {  }
.button:hover {
  color: blue;
  cursor: pointer;
}
.button.highlight {
  color: red;
}
.hidden {
  visibility: hidden;
}
.disabled {
  display: none;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "fugue_mono", sans-serif;
  font-size: 11pt;
  padding: 10px;
  background-color: white;
}

.overlay-close-button {
  position: absolute;
  right: 13px;
  top: 8px;
  font-family: "fugue_mono", sans-serif;
  font-size: 16pt;
  cursor: pointer;
}

.overlay-close-button:hover {
  color: blue;
}

.animated {
  opacity: 0;
  transition:opacity 0.15s linear;
}

.animated.animated-visible {
  opacity: 1;
}

.grid-container {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.grid-column {
  width: 24%;
  text-overflow: wrap;
}

a.version-link {
  text-decoration: none;
  color: black;
}

a.version-link:hover {
  color: blue;
}

.version-link-container {
  margin-bottom: 10px;
}
